<!--<div class="card border-primary mb-3">-->
<!--  <div class="card-header">Раздел задачи и количество баллов - Название задачи</div>-->
<!--  <div class="card-body">-->
<!--    <p class="card-text">-->
<!--      Даны 2005 отрезков длиной 1, 2, 3, …, 2005. Два игрока по очереди берут себе по одному отрезку,-->
<!--      пока не останется ровно 3 отрезка.-->
<!--      Если из этих трёх оставшихся отрезков можно сложить треугольник, то выигрывает первый игрок, если нельзя – то второй.-->
<!--      Есть ли у кого-либо из игроков выигрышная стратегия?-->
<!--    </p>-->
<!--    <div class="input-group mb-3">-->
<!--      <div class="input-group-prepend">-->
<!--        <span class="input-group-text">Ответ:</span>-->
<!--      </div>-->
<!--      <input type="text"-->
<!--             class="form-control">-->
<!--      <div class="input-group-append">-->
<!--        <button type="submit" class="btn btn-success">Отправить</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div *ngFor="let one of activeTasks">
  <app-task-form [task]="one"></app-task-form>
</div>
