<h3>Правила</h3>
<p>
      Математический онлайн-бой - одиночная или командная игра.
      В команде может участвовать не более 5 участников.
      Победитель определяется по следующим критериям: наибольшее количество набранных баллов,
      при равных баллах наименьшее количество купленных задач.
</p>
<p>   В процессе игры вы можете покупать задачи и решать их.    </p>
<p>   Для открытия задачи должно быть выполнено несколько условий:   </p>
<ol>
  <li> Турнир должен начаться и еще не закончиться </li>
  <li> В работе не должно быть меньше трех задач </li>
  <li> Остались еще не открытые задачи</li>
</ol>
<p> Команда может решать только задачи, которые находятся у нее в работе.
    По любой из этих задач можно ввести ответ, если ответ верный,
    то команде начисляется указанное количество баллов и задача считается решенной.
    Если ответ неверный, то стоимость задачи уменьшается, после трех неверных ответов, задача считается нерешенной.</p>
<p> За правильное решение задачи без ошибок команда получает ее двойную стоимость.
    Если была одна ошибка, то команда получает изначальную стоимость задачи.
    При двух ошибках команда может получить лишь половину изначальной стоймости задачи.
</p>
<h4>Категорически запрещается:</h4>
<ol>
  <li> Списывать или подглядывать решение у соперников </li>
  <li> Пользоватся ресурсами: Wolfram|Alpha... </li>
  <li> <a href="https://www.psychologos.ru/images/nakazanie_1379655782.jpg">Пытаться взломать данный сайт</a></li>
</ol>
