<table class="table table-hover">
  <tbody>
    <tr>
      <th>cscsc</th>
      <td class="">100</td>
      <td class="">200</td>
      <td class="">300</td>
      <td class="">400</td>
      <td class="">500</td>
    </tr>
  </tbody>
</table>
<!--<div class="task">-->
<!--    <span>Название 1</span>-->
<!--    <button class="btn btn-secondary">100</button>-->
<!--    <button class="btn btn-secondary">200</button>-->
<!--    <button class="btn btn-secondary">300</button>-->
<!--    <button class="btn btn-secondary">400</button>-->
<!--    <button class="btn btn-secondary">500</button>-->
<!--</div>-->
