<div class="header">
  <div class="card bg-secondary mb-3">
    Окно авторизации
  </div>
</div>
<div class="main">
  <button type="button" class="btn btn-secondary full">Primary</button>
  <button type="button" class="btn btn-secondary full">Primary</button>
  <button type="button" class="btn btn-secondary full">Primary</button>
  <button type="button" class="btn btn-secondary full">Primary</button>
</div>
<div class="footer card">
  <div class="footer-image">
    <img src="../../assets/aren.png" alt="Image" width="32" height="32">
  </div>
  <div class="footer-text">
    <span> © Григорий Маршинов</span>
    <span> 2019</span>
  </div>
</div>

