.resolve{
  background: #9ACD32;
  cursor: not-allowed;
}
.reject{
  background: #FF6347;
  cursor: not-allowed;
}
.active{
  background: #FFD700;
  cursor: not-allowed;
}
:host{
  display: block;
  width: 100%;
  height: 100%;
  user-select: none;
}
div {
  display: flex;
  margin: auto;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
}
