<table class="table table-bordered">
  <tbody>
  <tr class="table-light">
    <th>Название 1</th>
    <td class="btn-secondary">100</td>
    <td class="btn-secondary">200</td>
    <td class="btn-secondary">300</td>
    <td class="btn-secondary">400</td>
    <td class="btn-secondary">500</td>
  </tr>
  <tr class="table-light">
    <th>Название 1</th>
    <td class="btn-secondary">100</td>
    <td class="btn-secondary">200</td>
    <td class="btn-secondary">300</td>
    <td class="btn-secondary">400</td>
    <td class="btn-secondary">500</td>
  </tr>
  <tr class="table-light">
    <th>Название 1</th>
    <td class="btn-secondary">100</td>
    <td class="btn-secondary">200</td>
    <td class="btn-secondary">300</td>
    <td class="btn-secondary">400</td>
    <td class="btn-secondary">500</td>
  </tr>
  <tr class="table-light">
    <th>Название 1</th>
    <td class="btn-secondary">100</td>
    <td class="btn-secondary">200</td>
    <td class="btn-secondary">300</td>
    <td class="btn-secondary">400</td>
    <td class="btn-secondary">500</td>
  </tr>
  <tr class="table-light">
    <th>Название 1</th>
    <td class="btn-secondary">100</td>
    <td class="btn-secondary">200</td>
    <td class="btn-secondary">300</td>
    <td class="btn-secondary">400</td>
    <td class="btn-secondary">500</td>
  </tr>
  </tbody>
</table>
